<template>
  <div>
    <account-container
      title="เครดิตซื้อ"
      action-title=""
      action-link="/account/edit"
    >
      <div>
        <div class="credit-wrapper">
          <div class="credit-detail-list-wrapper">
            <div class="item">
              <span class="title">เครดิตซื้อทั้งหมด : </span><span class="detail">{{ user.guaranteeAll || 0 | numberComma }}</span>
            </div>
            <div class="item">
              <span class="title">เครดิตซื้อที่ใช้ไป : </span><span class="detail red">{{ user.guaranteeUsed || 0 | numberComma }}</span>
            </div>
            <div class="item">
              <span class="title">เครดิตซื้อคงเหลือ : </span><span class="detail green">{{ user.guaranteeRemaining || 0 | numberComma }}</span>
            </div>
            <div class="item">
              <span class="title">รายการที่ใช้เครดิต : </span><span class="detail">{{ auctionPageData.count || 0 | numberComma }}</span>
            </div>
          </div>
        </div>
        <div class="offer-wrapper">
          <div class="offer-table">
            <credit-table
              :auctions="auctions"
              :total="auctionPageData.count"
              :current-page="currentPage"
              :user="user"
              @changePage="page => onChangePage(page)"
            />
          </div>
        </div>
      </div>
    </account-container>
  </div>
</template>
<script>
import { call, get } from 'vuex-pathify'
import CreditTable from './components/CreditBuyTable'
import AccountContainer from '~/components/account/AccountContainer.vue'

export default {
  components: {
    AccountContainer,
    CreditTable
  },
  layout: 'account',
  data () {
    return {
      searchData: {
      },
      status: 'OFFER',
      pageData: {
        OFFER: 1
      },
      currentPage: +this.$route.query.page || 1
    }
  },
  async fetch ({ store }) {
    try {
      await store.dispatch('auth/fetchMe')
    } catch (e) {

    }
  },
  computed: {
    auctions: get('auction/auctions'),
    user: get('auth/user'),
    auctionPageData: get('auction/auctionPageData')
  },
  methods: {
    ...call('auction', [
      'setBiddingAuction',
      'fetchAuctions'
    ]),
    async initiateData () {
      this.$wait.start('base loading')
      await this.fetchAuctions({ page: this.currentPage, auctiontransaction_bid_user_id: this.user.id })
      this.$wait.end('base loading')
    },
    onChangePage (page, key) {
      const { ...filterQuery } = this.$route.query
      this.currentPage = page.current
      this.$router.replace({ name: 'account-buy-credit', query: { ...filterQuery, page: page.current } })
      this.initiateData()
    }
  },
  async created () {
    await this.initiateData()
  }
}
</script>

<style lang="less" scoped>
.credit-wrapper {
  padding: 26px 0px;
  .credit-detail-list-wrapper {
    padding-left: 26px;
    line-height: 30px;
    .item {
      color: #424242;
      font-size: 1.6rem;
      font-weight: 300;
    }
    .detail {
      font-weight: 500;
      &.green {
        color: #43be39
      }
      &.red {
        color: #e34955
      }
    }
  }
}
.offer-wrapper {
  padding: 20px 0px;
}
.offer-table {
  .ant-table-wrapper {
    background: white;
    border-radius: 4px;
    border-top-left-radius: 0px;
    /deep/ .ant-table-thead > tr > th {
      background: white;
    }
  }
}
</style>
