<template>
  <a-table
    row-key="id"
    :columns="columns"
    :data-source="auctions"
    :scroll="{ x: 1000 }"
    :pagination="{ total, current: currentPage }"
    @change="onChangePage"
  >
    <template slot="farmStandard" slot-scope="farmStandard">
      <a-tooltip placement="top">
        <template slot="title">
          <span>{{ farmStandard.name }}</span>
        </template>
        <img :src="farmStandard.path || ''" style="width: 50px;">
      </a-tooltip>
    </template>
    <template slot="farm" slot-scope="farm">
      <div>{{ farm.name }}</div>
      <div>
        <span class="gray">{{ farm && farm.districts && farm.districts['th'] || '' }}, </span>
        <span class="gray">{{ farm && farm.province && farm.province['th'] || '' }}</span>
      </div>
    </template>
    <template slot="type" slot-scope="farm">
      <div>{{ farm.fruitBreed && farm.fruitBreed.fruitType && farm.fruitBreed.fruitType.name }}</div>
      <div>
        <span class="gray">{{ farm.fruitBreed && farm.fruitBreed.name }}</span>
      </div>
    </template>
    <template slot="numTree" slot-scope="numTree">
      <div>{{ numTree | numberComma }}</div>
    </template>
    <template slot="dateTimeStart" slot-scope="record">
      <div class="date">
        {{ record | dateTimeTh }}
      </div>
    </template>
    <template slot="dateTimeEnd" slot-scope="record">
      <div class="date">
        {{ record | dateTimeTh }}
      </div>
    </template>
    <template slot="priceStart" slot-scope="record">
      <div>{{ record.priceStart | numberComma }}</div>
      <div v-if="record.guaranteeUsed" class="green">
        มีเงินค้ำประกัน
      </div>
      <div v-else class="red">
        ไม่มีเงินค้ำประกัน
      </div>
    </template>
    <template slot="priceCurrent" slot-scope="record">
      <div class="green" style="font-weight: 500">
        {{ record | numberComma }}
      </div>
    </template>
    <span slot="service" slot-scope="status">
      <a-icon
        v-if="status"
        type="check"
        style="color: #43be39; font-weight: bold;"
      />
      <a-icon
        v-else
        type="close"
        style="color: #f20000; font-weight: bold;"
      />
    </span>
    <template slot="action" slot-scope="id">
      <a v-if="isAuction" @click="onSelectAuction(id)">ประมูล</a>
      <a v-if="isPre" @click="onSeeDetail(id)">ดูรายละเอียด</a>
    </template>
  </a-table>
</template>

<script>
export default {
  name: 'AuctionTable',
  props: {
    auctions: {
      type: Array,
      default: () => []
    },
    total: {
      type: Number,
      default: 0
    },
    currentPage: {
      type: Number,
      default: 1
    },
    isAuction: {
      type: Boolean,
      default: false
    },
    isPre: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      columns: [{
        title: 'มาตราฐาน',
        dataIndex: 'farm.farmStandard',
        key: '1',
        scopedSlots: { customRender: 'farmStandard' }
      }, {
        title: 'ฟาร์ม',
        dataIndex: 'farm',
        key: '2',
        scopedSlots: { customRender: 'farm' }
      }, {
        title: 'ชนิด',
        dataIndex: 'farm',
        key: '3',
        scopedSlots: { customRender: 'type' }
      }, {
        title: 'ผลิตภัทฑ์ที่คาดการณ์(ต้น)',
        dataIndex: 'farm.numTree',
        key: '4',
        scopedSlots: { customRender: 'numTree' }
      }, {
        title: 'บริการเก็บเกี่ยว',
        dataIndex: 'isCollectService',
        align: 'center',
        key: '5',
        scopedSlots: { customRender: 'service' }
      }, {
        title: 'วันที่เปิดประมูล',
        dataIndex: 'dateTimeStart',
        key: '6',
        scopedSlots: { customRender: 'dateTimeStart' }
      }, {
        title: 'วันที่ปิดประมูล',
        dataIndex: 'dateTimeEnd',
        key: '7',
        scopedSlots: { customRender: 'dateTimeEnd' }
      }, {
        title: 'ราคาเปิดประมูล',
        key: '8',
        scopedSlots: { customRender: 'priceStart' }
      }, {
        title: 'ราคาสูงสุด',
        dataIndex: 'priceCurrent',
        scopedSlots: { customRender: 'priceCurrent' },
        key: '9'

      },
      // {
      //   title: 'สถานะ',
      //   key: 'status',
      //   dataIndex: 'id',
      //   scopedSlots: { customRender: 'status' }
      // },

      {
        key: 'action',
        dataIndex: 'id',
        scopedSlots: { customRender: 'action' }
      }]
    }
  },
  methods: {
    onChangePage (page) {
      this.$emit('changePage', page)
    },
    onSelectAuction (id) {
      this.$emit('selectAuction', id)
    },
    onSeeDetail (id) {
      this.$emit('seeDetail', id)
    }
  }
}
</script>

<style lang="less" scoped>
.ant-table-wrapper {
  background: white;
  border-radius: 4px;
  border-top-left-radius: 0px;
}
.gray {
  color: #95989a;
  font-weight: 300;
  font-size: 1.2rem;
}
td {
  color: #424242;
  font-weight: 300;
  font-size: 1.4rem !important;
  div {
    font-size: 1.4rem !important;
  }
}
th {
  color: #424242;
  font-size: 1.4rem !important;
  div {
    color: #424242;
    font-size: 1.4rem !important;
  }
}
.date {
  color: #424242;
  font-size: 1.2rem;
}
.green {
  color: #43be39;
  font-weight: 300;
  font-size: 1.4rem;
}
.red {
  color: #f20000;
  font-weight: 300;
  font-size: 1.2rem !important;
}
</style>
