<template>
  <div id="auctionPrice" class="dp-flex f-drt-column al-it-center">
    <div class="f-w-500">
      ราคาเปิดประมูล
    </div>
    <a-form class="form" :style="{ width: '278px' }">
      <a-form-item>
        <p v-if="preview" class="t-al-center f-s-4 f-w-500 cl-primary">
          {{ priceStart | numberComma }}
        </p>
        <a-input
          v-else
          class="h-48px f-s-1-8 t-al-center cl-primary f-w-500"
          placeholder="ราคาเปิดประมูล"
          :value="priceStart"
          @change="e => $emit('changePriceStart', e.target.value)"
        />
      </a-form-item>
    </a-form>
    <label class="f-s-1-4 f-w-500">
      เครดิตคงเหลือ : <span :class="{ 'cl-primary': preview }">{{ user && user.guaranteeRemaining || 0 | numberComma }} บาท</span>
    </label>
    <label class="f-s-1-4 f-w-500 mg-bt-10px">
      เครดิตที่ใช้ไป : <span :class="{ 'cl-primary': preview }">{{ user && user.guaranteeUsed || 0 | numberComma }}<span style="color: #ff9300;">(+{{ priceStart || 0 | numberComma }})</span>บาท</span>
    </label>
  </div>
</template>

<script>
export default {
  name: 'AuctionPrice',
  props: {
    preview: Boolean,
    priceStart: [String, Number],
    user: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="less" scoped>
.end-line () {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
}

#auctionPrice {
  max-width: 560px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  .end-line();
}
.form {
  margin-top: 15px;
}
.custom-input {
  font-size: 1.8rem;
  height: 48px;
  width: 275px;
}
.seperator {
  width: 560px;
  height: 1px;
  margin: 20px 0;
  background-color: #e1e1e1;
}
</style>
