<template>
  <a-carousel arrows dots-class="slick-dots slick-thumb">
    <a slot="customPaging" slot-scope="props">
      <img :src="medias[props.i]">
    </a>
    <div v-for="(media, index) in medias" :key="index">
      <div
        class="show-image cs-pointer"
        :style="{ backgroundImage: `url('${media}')`}"
        @click="onSelectMedia(media)"
      />
    </div>
  </a-carousel>
</template>

<script>
export default {
  name: 'BaseCarousel',
  props: {
    medias: Array
  },
  methods: {
    onSelectMedia (media) {
      this.$emit('selectMedia', media)
    }
  }
}
</script>

<style scoped>
/* Vue AntD - corousel */
.ant-carousel >>> .slick-list {
  width: 100%;
}
.ant-carousel >>> .slick-dots {
  height: auto
}
.ant-carousel >>> .slick-slide .show-image{
  border: 5px solid #FFF;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ant-carousel >>> .slick-thumb {
  position: static;
  bottom: -45px;
}
.ant-carousel >>> .slick-thumb li {
  width: 60px;
  height: 45px;
}
.ant-carousel >>> .slick-thumb li img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.ant-carousel >>> .slick-thumb li.slick-active img{
  filter: grayscale(0%);
}
</style>
