<template>
  <div>
    <div class="mask" />
    <div class="spin-loading">
      <a-spin />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  z-index: 1000;
}

.spin-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  outline: 0;
   /deep/ .ant-spin-dot {
    width: 100px;
    height: 100px;
    i {
      width: 40px;
      height: 40px;
    }
  }
}
</style>
