<template>
  <div
    :class="{ 'search-menu-item-title': true, 'active': activatedMenu === title }"
    @click="setActive(title)"
  >
    {{ title }}
  </div>
</template>

<script>
export default {
  name: 'SearchMenuItem',
  props: {
    title: {
      type: String
    },
    activatedMenu: {
      type: String
    }
  },
  methods: {
    setActive (title) {
      this.$emit('setActive', title)
    }
  }
}
</script>

<style lang="scss">
.search-menu-item-title {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
}

.search-menu-item-title:hover {
  background-color: rgba(255, 147, 0, 0.2);
  color: #ff9300;
  border-right: 5px solid #ff9300;
}

.search-menu-item-title.active {
  background-color: rgba(255, 147, 0, 0.2);
  color: #ff9300;
  border-right: 5px solid #ff9300;
}
</style>
