<template>
  <div id="confirmBidding">
    <div class="body">
      <div class="body left">
        <h1 class="title">
          ข้อมูลสินค้า
        </h1>
        <label class="description">ผลไม้ : {{ farm.fruitBreed && farm.fruitBreed.fruitType && farm.fruitBreed.fruitType.name }}</label>
        <label class="description">สายพันธุ์ : {{ farm.fruitBreed && farm.fruitBreed.name }}</label>
        <label class="description">ฟาร์ม : {{ farm.name }}</label>
        <label class="description">จังหวัด : {{ farm && farm.province && farm.province['th'] || '' }}</label>
        <label class="description">อำเภอ : {{ farm && farm.districts && farm.districts['th'] || '' }}</label>
        <label class="description">พื้นที่ (ไร่) : {{ farm.numArea || 0 | numberComma }}</label>
        <label class="description">จำนวน (ต้น) : {{ farm.numTree || 0 | numberComma }}</label>
        <label class="description">ผลิตภัทฑ์ที่คาดการณ์(ต้น) : {{ expectedHarvestOutput || 0 | numberComma }}</label>
        <label class="description">วันที่เริ่มเก็บเกี่ยว : {{ expectedHarvestDateTimeStart || 0 | dateTimeTh }}</label>
        <label class="description">วันที่เก็บเกี่ยวเสร็จ : {{ expectedHarvestDateTimeEnd || 0 | dateTimeTh }}</label>
        <label :style="{ marginTop: '1.8rem' }">บันทึกเพิ่มเติมจากผู้เปิดประมูล:</label>
        <p>{{ extraCondition || '-' }}</p>
        <label>เบอร์โทรศัพท์ : {{ biddingAuction && biddingAuction.user && biddingAuction.user.mobile || '-' }}</label>
        <label>Line : {{ biddingAuction && biddingAuction.user && biddingAuction.user.lineId || '-' }}</label>
        <label>Facebook : {{ biddingAuction && biddingAuction.user && biddingAuction.user.facebookId || '-' }}</label>
        <a-button
          class="oa-button is-primary is-invert"
          @click="onPreviousState"
        >
          ย้อนกลับ
        </a-button>
      </div>
      <div class="body right">
        <h1 class="title">
          ราคาที่ทำการประมูล
        </h1>
        <p class="t-al-center f-w-500 cl-primary" :style="{ fontSize: '2.5rem' }">
          {{ biddingPrice | numberComma }}
        </p>
        <label class="description">เครดิตคงเหลือ : {{ user && user.guaranteeRemaining || 0 | numberComma }} บาท</label>
        <label class="description">เครดิตที่ใช้ไป : {{ user && user.guaranteeUsed || 0 | numberComma }} <span style="color: #ff9300;">(+{{ biddingPrice - myCurrentCredit | numberComma }})</span> บาท</label>
        <label class="refcode">รหัสอ้างอิง : {{ otpRef }}</label>
        <div class="dp-flex al-it-center">
          <a-input class="mg-r-18px" placeholder="กรอกรหัส OTP" @change.native="e => $emit('update:otp', e.target.value)" />
          <a-button class="oa-button is-primary" @click="onRequestOtp">
            รับ OTP
          </a-button>
        </div>
        <a-button
          class="oa-button is-primary"
          type="primary"
          style="margin-top: 20px;"
          @click="onConfirmBid"
        >
          ยืนยันการประมูล
        </a-button>
        <span class="remark" :style="{ marginTop: '2rem' }">* กรุณาตรวจสอบข้อมูลให้ถูกต้องก่อนทำการยืนยันการประมูล</span>
        <span class="remark">* เมื่อทการกดปุ่ม “ยืนยันการประมูล” จะไม่สามารถยกเลิกได้</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ConfirmBiddingState',
  props: {
    biddingPrice: Number,
    farm: Object,
    expectedHarvestOutput: Number,
    expectedHarvestDateTimeStart: String,
    expectedHarvestDateTimeEnd: String,
    extraCondition: String,
    otpRef: String,
    user: {
      type: Object,
      default: () => {}
    },
    biddingAuction: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    myCurrentCredit () {
      const { auctionTransactionAuctionBases } = this.biddingAuction
      if (auctionTransactionAuctionBases && auctionTransactionAuctionBases.length > 0) {
        const transaction = auctionTransactionAuctionBases.find(t => t.bidUser === this.user.id)
        return (transaction && transaction.guaranteePrice) || 0
      }
      return 0
    }
  },
  methods: {
    onNextState () {
      this.$emit('nextState')
    },
    onPreviousState () {
      this.$emit('previousState')
    },
    onConfirmBid () {
      this.$emit('onConfirmBid')
    },
    onRequestOtp () {
      this.$emit('onRequestOtp')
    }
  }
}
</script>

<style lang="scss" scoped>
.body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 10px;
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  &.left {
    flex-basis: 35%;
    flex-direction: column;
    border-right: 1px solid rgba(158, 158, 158, 0.4);
    padding-right: 10%;
    @media only screen and (max-width: 768px) {
      width: 100%;
      flex-basis: 100%;
      border-right: 0;
    }

    .back-button {
      margin-top: 36px;
      @media only screen and (max-width: 768px) {
        margin-top: 0;
      }
    }
  }
  &.right {
    flex-basis: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    @media only screen and (max-width: 768px) {
      flex-basis: 100%;
      margin-left: 10px;
    }
    .price-range {
      margin-top: 20px;
      @media only screen and (max-width: 768px) {
        flex-wrap: wrap;
        display: flex;
      }
    }
    .price-input {
      margin: 15px 0;
      width: 275px;
      height: 48px;
      text-align:center;
      color: #ff9300;
      font-size: 25px;
      font-weight: 500;
      background-color: white;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.price {
  font-size: 26px;
  font-weight: 500;
  color: #ff9300;
}
.description {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px;
}
.title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0px;
}

.white-button {
  background-color: #fff;
  border: 1px solid #ffb300;
  color: #FFB300;
  font-size: 16px;
  height: 40px;
}
.remark {
  font-size: 12px;
}
.refcode {
  margin-top: 20px;
}
</style>
