<template>
  <a-table
    row-key="id"
    :columns="columns"
    :data-source="auctions"
    :scroll="{ x: 1000 }"
    :pagination="{ total, current: currentPage }"
    @change="onChangePage"
  >
    <template slot="farmStandard" slot-scope="farmStandard">
      <a-tooltip placement="top">
        <template slot="title">
          <span>{{ farmStandard.name }}</span>
        </template>
        <img :src="farmStandard.path || ''" style="width: 50px;">
      </a-tooltip>
    </template>
    <template slot="farm" slot-scope="farm">
      <div>{{ farm.name }}</div>
      <div>
        <span class="gray">{{ farm && farm.districts && farm.districts['th'] || '' }}, </span>
        <span class="gray">{{ farm && farm.province && farm.province['th'] || '' }}</span>
      </div>
    </template>
    <template slot="type" slot-scope="farm">
      <div>{{ farm.fruitBreed && farm.fruitBreed.fruitType && farm.fruitBreed.fruitType.name }}</div>
      <div>
        <span class="gray">{{ farm.fruitBreed && farm.fruitBreed.name }}</span>
      </div>
    </template>
    <template slot="numTree" slot-scope="numTree">
      <div>{{ numTree | numberComma }}</div>
    </template>
    <template slot="dateTimeStart" slot-scope="record">
      <div class="date">
        {{ record | dateTimeTh }}
      </div>
    </template>
    <template slot="dateTimeEnd" slot-scope="record">
      <div class="date">
        {{ record | dateTimeTh }}
      </div>
    </template>
    <template slot="priceStart" slot-scope="record">
      <div>{{ record.priceStart | numberComma }}</div>
      <div v-if="record.guaranteeUsed" class="green">
        มีเงินค้ำประกัน
      </div>
      <div v-else class="red">
        ไม่มีเงินค้ำประกัน
      </div>
    </template>
    <template slot="priceCurrent" slot-scope="record">
      <div class="green" style="font-weight: 500">
        {{ record | numberComma }}
      </div>
    </template>
    <span slot="service" slot-scope="status">
      <a-icon
        v-if="status"
        type="check"
        style="color: #43be39; font-weight: bold;"
      />
      <a-icon
        v-else
        type="close"
        style="color: #f20000; font-weight: bold;"
      />
    </span>
    <template slot="status" slot-scope="status">
      <div :class="statusClass(status)">
        {{ statusName(status) }}
      </div>
    </template>
    <template slot="guarantee" slot-scope="guaranteePrice">
      <div class="guarantee">
        {{ guaranteePrice | numberComma }}
      </div>
    </template>
  </a-table>
</template>

<script>
export default {
  name: 'AuctionTable',
  props: {
    auctions: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      default: () => {}
    },
    total: {
      type: Number,
      default: 0
    },
    currentPage: {
      type: Number,
      default: 1
    },
    isAuction: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      columns: [{
        title: 'มาตราฐาน',
        dataIndex: 'farm.farmStandard',
        key: '1',
        scopedSlots: { customRender: 'farmStandard' }
      }, {
        title: 'ฟาร์ม',
        dataIndex: 'farm',
        key: '2',
        scopedSlots: { customRender: 'farm' }
      }, {
        title: 'ชนิด',
        dataIndex: 'farm',
        key: '3',
        scopedSlots: { customRender: 'type' }
      }, {
        title: 'ผลิตภัทฑ์ที่คาดการณ์(ต้น)',
        dataIndex: 'farm.numTree',
        key: '4',
        scopedSlots: { customRender: 'numTree' }
      }, {
        title: 'บริการเก็บเกี่ยว',
        dataIndex: 'isCollectService',
        align: 'center',
        key: '5',
        scopedSlots: { customRender: 'service' }
      }, {
        title: 'วันที่เปิดประมูล',
        dataIndex: 'dateTimeStart',
        key: '6',
        scopedSlots: { customRender: 'dateTimeStart' }
      }, {
        title: 'วันที่ปิดประมูล',
        dataIndex: 'dateTimeEnd',
        key: '7',
        scopedSlots: { customRender: 'dateTimeEnd' }
      }, {
        title: 'ราคาเปิดประมูล',
        key: '8',
        scopedSlots: { customRender: 'priceStart' }
      }, {
        title: 'ราคาสูงสุด',
        dataIndex: 'priceCurrent',
        scopedSlots: { customRender: 'priceCurrent' },
        key: '9'
      },
      {
        title: 'สถานะ',
        key: 'status',
        dataIndex: 'status',
        scopedSlots: { customRender: 'status' }
      },
      {
        title: 'วงเงินที่ขาย',
        key: 'guarantee',
        dataIndex: 'guaranteePrice',
        scopedSlots: { customRender: 'guarantee' }
      }]
    }
  },
  computed: {
  },
  methods: {
    onChangePage (page) {
      this.$emit('changePage', page)
    },
    onRemove (id) {
      this.$emit('onRemove', id)
    },
    statusClass (status) {
      if (status === 'PRE') {
        return 'pre'
      } else if (status === 'OPEN') {
        return 'open'
      } else if (status === 'CLOSE') {
        return 'close'
      } else if (status === 'CANCEL') {
        return 'cancel'
      } else {
        return ''
      }
    },
    statusName (status) {
      if (status === 'PRE') {
        return 'จัดเตรียมการประมูล'
      } else if (status === 'OPEN') {
        return 'กำลังประมูล'
      } else if (status === 'CLOSE') {
        return 'รอการยืนยัน'
      } else if (status === 'CANCEL') {
        return 'ยกเลิกการประมูล'
      } else {
        return ''
      }
    },
    findGuarantee (record) {
      console.log(record)
      const { auctionTransactionAuctionBases } = record
      if (auctionTransactionAuctionBases && auctionTransactionAuctionBases.length > 0) {
        const transaction = auctionTransactionAuctionBases.find(t => t.bidUser === this.user.id)
        return transaction.guaranteePrice
      }
      return 0
    }
  }
}
</script>

<style lang="less" scoped>
.ant-table-wrapper {
  background: white;
  border-radius: 4px;
  border-top-left-radius: 0px;
}
.gray {
  color: #95989a;
  font-weight: 300;
  font-size: 1.2rem;
}
td {
  color: #424242;
  font-weight: 300;
  font-size: 1.4rem !important;
  div {
    font-size: 1.4rem !important;
  }
}
th {
  color: #424242;
  font-size: 1.4rem !important;
  div {
    color: #424242;
    font-size: 1.4rem !important;
  }
}
.date {
  color: #424242;
  font-size: 1.2rem;
}
.green {
  color: #43be39;
  font-weight: 300;
  font-size: 1.4rem;
}
.red {
  color: #f20000;
  font-weight: 300;
  font-size: 1.2rem !important;
}

.open {
}

.close {
  color: #43be39;
}
.pre {
  color: #0089FF;
}
.cancel {
  color: #f20000;
}

.guarantee {
  color:  #43be39;
}
</style>
